In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
penguins <- read_csv('data/penguins_size.csv')

Rows: 344 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): species, island, sex
dbl (4): culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:
glimpse(penguins)

Rows: 344
Columns: 7
$ species           <chr> "Adelie", "Adelie", "Adelie", "Adelie", "Adelie", "A…
$ island            <chr> "Torgersen", "Torgersen", "Torgersen", "Torgersen", …
$ culmen_length_mm  <dbl> 39.1, 39.5, 40.3, NA, 36.7, 39.3, 38.9, 39.2, 34.1, …
$ culmen_depth_mm   <dbl> 18.7, 17.4, 18.0, NA, 19.3, 20.6, 17.8, 19.6, 18.1, …
$ flipper_length_mm <dbl> 181, 186, 195, NA, 193, 190, 181, 195, 193, 190, 186…
$ body_mass_g       <dbl> 3750, 3800, 3250, NA, 3450, 3650, 3625, 4675, 3475, …
$ sex               <chr> "MALE", "FEMALE", "FEMALE", NA, "FEMALE", "MALE", "F…

In [5]:
head(penguins)

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex
1 3750        MALE
2 3800        FEMALE
3 3250        FEMALE
4   NA        NA
5 3450        FEMALE
6 3650        MALE

In [6]:
summary(penguins)

   species             island          culmen_length_mm culmen_depth_mm
 Length:344         Length:344         Min.   :32.10    Min.   :13.10
 Class :character   Class :character   1st Qu.:39.23    1st Qu.:15.60
 Mode  :character   Mode  :character   Median :44.45    Median :17.30
                                       Mean   :43.92    Mean   :17.15
                                       3rd Qu.:48.50    3rd Qu.:18.70
                                       Max.   :59.60    Max.   :21.50
                                       NA's   :2        NA's   :2
 flipper_length_mm  body_mass_g       sex
 Min.   :172.0     Min.   :2700   Length:344
 1st Qu.:190.0     1st Qu.:3550   Class :character
 Median :197.0     Median :4050   Mode  :character
 Mean   :200.9     Mean   :4202
 3rd Qu.:213.0     3rd Qu.:4750
 Max.   :231.0     Max.   :6300
 NA's   :2         NA's   :2

In [7]:
names(penguins)

[1] "species"           "island"            "culmen_length_mm"
[4] "culmen_depth_mm"   "flipper_length_mm" "body_mass_g"
[7] "sex"

In [15]:
penguins %>%
  filter(island == "Torgersen") %>%
  head()

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex
1 3750        MALE
2 3800        FEMALE
3 3250        FEMALE
4   NA        NA
5 3450        FEMALE
6 3650        MALE

In [9]:
penguins %>%
  filter(island == "Torgersen") %>%
  head()

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex
1 3750        MALE
2 3800        FEMALE
3 3250        FEMALE
4   NA        NA
5 3450        FEMALE
6 3650        MALE

In [10]:
penguins %>%
  arrange(culmen_length_mm) %>%  head() # arrange() "arranges," or organizes, our data in ascending order, starting from the lowest value and running to the highest (or in the case of character data, in alphabetical order).

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Dream     32.1             15.5            188
2 Adelie  Dream     33.1             16.1            178
3 Adelie  Torgersen 33.5             19.0            190
4 Adelie  Dream     34.0             17.1            185
5 Adelie  Torgersen 34.1             18.1            193
6 Adelie  Torgersen 34.4             18.4            184
  body_mass_g sex
1 3050        FEMALE
2 2900        FEMALE
3 3600        FEMALE
4 3400        FEMALE
5 3475        NA
6 3325        FEMALE

In [16]:
penguins %>%
  arrange(species) %>% head()

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex
1 3750        MALE
2 3800        FEMALE
3 3250        FEMALE
4   NA        NA
5 3450        FEMALE
6 3650        MALE

In [12]:
# creating a random subset of the penguins dataset
set.seed(406)

penguins_subset <- penguins %>%
  sample_n(12)  # another dplyr function!

penguins_subset

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4             18.5            202
2  Chinstrap Dream     50.1             17.9            190
3  Gentoo    Biscoe    50.5             15.9            222
4  Chinstrap Dream     49.0             19.6            212
5  Chinstrap Dream     43.5             18.1            202
6  Gentoo    Biscoe    51.5             16.3            230
7  Adelie    Biscoe    40.5             17.9            187
8  Gentoo    Biscoe    43.5             15.2            213
9  Adelie    Dream     36.3             19.5            190
10 Adelie    Torgersen 39.0             17.1            191
11 Adelie    Biscoe    41.6             18.0            192
12 Gentoo    Biscoe    47.6             14.5            215
   body_mass_g sex
1  3875        MALE
2  3400        FEMALE
3  5550        MALE
4  4300        MALE
5  3400        FEMALE
6  5500        MALE
7  3200        FEMALE
8  4650        FEMALE
9  3800        MALE
10 3050        FEMALE
11 3950        MALE
12 5400        MALE

In [13]:
penguins_subset %>%
  arrange(species)

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4             18.5            202
2  Adelie    Biscoe    40.5             17.9            187
3  Adelie    Dream     36.3             19.5            190
4  Adelie    Torgersen 39.0             17.1            191
5  Adelie    Biscoe    41.6             18.0            192
6  Chinstrap Dream     50.1             17.9            190
7  Chinstrap Dream     49.0             19.6            212
8  Chinstrap Dream     43.5             18.1            202
9  Gentoo    Biscoe    50.5             15.9            222
10 Gentoo    Biscoe    51.5             16.3            230
11 Gentoo    Biscoe    43.5             15.2            213
12 Gentoo    Biscoe    47.6             14.5            215
   body_mass_g sex
1  3875        MALE
2  3200        FEMALE
3  3800        MALE
4  3050        FEMALE
5  3950        MALE
6  3400        FEMALE
7  4300        MALE
8  3400        FEMALE
9  5550        MALE
10 5500        MALE
11 4650        FEMALE
12 5400        MALE

In [17]:
penguins_subset %>%
  arrange(desc(culmen_length_mm)) # desc() function, which stands for descending, within the arrange() function. This will then order our numeric data from highest to lowest, and our character data in reverse alphabetical order.

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Gentoo    Biscoe    51.5             16.3            230
2  Gentoo    Biscoe    50.5             15.9            222
3  Chinstrap Dream     50.1             17.9            190
4  Chinstrap Dream     49.0             19.6            212
5  Gentoo    Biscoe    47.6             14.5            215
6  Chinstrap Dream     43.5             18.1            202
7  Gentoo    Biscoe    43.5             15.2            213
8  Adelie    Biscoe    41.6             18.0            192
9  Adelie    Torgersen 41.4             18.5            202
10 Adelie    Biscoe    40.5             17.9            187
11 Adelie    Torgersen 39.0             17.1            191
12 Adelie    Dream     36.3             19.5            190
   body_mass_g sex
1  5500        MALE
2  5550        MALE
3  3400        FEMALE
4  4300        MALE
5  5400        MALE
6  3400        FEMALE
7  4650        FEMALE
8  3950        MALE
9  3875        MALE
10 3200        FEMALE
11 3050        FEMALE
12 3800        MALE

In [18]:
penguins_subset %>%
  arrange(desc(species))

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Gentoo    Biscoe    50.5             15.9            222
2  Gentoo    Biscoe    51.5             16.3            230
3  Gentoo    Biscoe    43.5             15.2            213
4  Gentoo    Biscoe    47.6             14.5            215
5  Chinstrap Dream     50.1             17.9            190
6  Chinstrap Dream     49.0             19.6            212
7  Chinstrap Dream     43.5             18.1            202
8  Adelie    Torgersen 41.4             18.5            202
9  Adelie    Biscoe    40.5             17.9            187
10 Adelie    Dream     36.3             19.5            190
11 Adelie    Torgersen 39.0             17.1            191
12 Adelie    Biscoe    41.6             18.0            192
   body_mass_g sex
1  5550        MALE
2  5500        MALE
3  4650        FEMALE
4  5400        MALE
5  3400        FEMALE
6  4300        MALE
7  3400        FEMALE
8  3875        MALE
9  3200        FEMALE
10 3800        MALE
11 3050        FEMALE
12 3950        MALE

In [19]:
penguins_subset %>%
  filter(culmen_depth_mm > 16.2)

  species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie    Torgersen 41.4             18.5            202
2 Chinstrap Dream     50.1             17.9            190
3 Chinstrap Dream     49.0             19.6            212
4 Chinstrap Dream     43.5             18.1            202
5 Gentoo    Biscoe    51.5             16.3            230
6 Adelie    Biscoe    40.5             17.9            187
7 Adelie    Dream     36.3             19.5            190
8 Adelie    Torgersen 39.0             17.1            191
9 Adelie    Biscoe    41.6             18.0            192
  body_mass_g sex
1 3875        MALE
2 3400        FEMALE
3 4300        MALE
4 3400        FEMALE
5 5500        MALE
6 3200        FEMALE
7 3800        MALE
8 3050        FEMALE
9 3950        MALE

In [20]:
penguins_subset %>%
  filter(island == "Dream")

  species   island culmen_length_mm culmen_depth_mm flipper_length_mm
1 Chinstrap Dream  50.1             17.9            190
2 Chinstrap Dream  49.0             19.6            212
3 Chinstrap Dream  43.5             18.1            202
4 Adelie    Dream  36.3             19.5            190
  body_mass_g sex
1 3400        FEMALE
2 4300        MALE
3 3400        FEMALE
4 3800        MALE

In [21]:
penguins_subset %>%
  filter(between(culmen_depth_mm, 16.2, 18.1 ))

  species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Chinstrap Dream     50.1             17.9            190
2 Chinstrap Dream     43.5             18.1            202
3 Gentoo    Biscoe    51.5             16.3            230
4 Adelie    Biscoe    40.5             17.9            187
5 Adelie    Torgersen 39.0             17.1            191
6 Adelie    Biscoe    41.6             18.0            192
  body_mass_g sex
1 3400        FEMALE
2 3400        FEMALE
3 5500        MALE
4 3200        FEMALE
5 3050        FEMALE
6 3950        MALE

In [22]:
penguins_subset %>%
  select(species, flipper_length_mm, sex)

   species   flipper_length_mm sex
1  Adelie    202               MALE
2  Chinstrap 190               FEMALE
3  Gentoo    222               MALE
4  Chinstrap 212               MALE
5  Chinstrap 202               FEMALE
6  Gentoo    230               MALE
7  Adelie    187               FEMALE
8  Gentoo    213               FEMALE
9  Adelie    190               MALE
10 Adelie    191               FEMALE
11 Adelie    192               MALE
12 Gentoo    215               MALE

In [23]:
penguins_subset %>%
  select(where(is.character))

   species   island    sex
1  Adelie    Torgersen MALE
2  Chinstrap Dream     FEMALE
3  Gentoo    Biscoe    MALE
4  Chinstrap Dream     MALE
5  Chinstrap Dream     FEMALE
6  Gentoo    Biscoe    MALE
7  Adelie    Biscoe    FEMALE
8  Gentoo    Biscoe    FEMALE
9  Adelie    Dream     MALE
10 Adelie    Torgersen FEMALE
11 Adelie    Biscoe    MALE
12 Gentoo    Biscoe    MALE

In [24]:
penguins_subset %>%
  select(where(is.numeric))

   culmen_length_mm culmen_depth_mm flipper_length_mm body_mass_g
1  41.4             18.5            202               3875
2  50.1             17.9            190               3400
3  50.5             15.9            222               5550
4  49.0             19.6            212               4300
5  43.5             18.1            202               3400
6  51.5             16.3            230               5500
7  40.5             17.9            187               3200
8  43.5             15.2            213               4650
9  36.3             19.5            190               3800
10 39.0             17.1            191               3050
11 41.6             18.0            192               3950
12 47.6             14.5            215               5400

In [25]:
penguins_subset %>%
  select(!where(is.numeric))

   species   island    sex
1  Adelie    Torgersen MALE
2  Chinstrap Dream     FEMALE
3  Gentoo    Biscoe    MALE
4  Chinstrap Dream     MALE
5  Chinstrap Dream     FEMALE
6  Gentoo    Biscoe    MALE
7  Adelie    Biscoe    FEMALE
8  Gentoo    Biscoe    FEMALE
9  Adelie    Dream     MALE
10 Adelie    Torgersen FEMALE
11 Adelie    Biscoe    MALE
12 Gentoo    Biscoe    MALE

In [27]:
penguins_subset %>%
  mutate(body_weight_pounds = body_mass_g / 453.59237)

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4             18.5            202
2  Chinstrap Dream     50.1             17.9            190
3  Gentoo    Biscoe    50.5             15.9            222
4  Chinstrap Dream     49.0             19.6            212
5  Chinstrap Dream     43.5             18.1            202
6  Gentoo    Biscoe    51.5             16.3            230
7  Adelie    Biscoe    40.5             17.9            187
8  Gentoo    Biscoe    43.5             15.2            213
9  Adelie    Dream     36.3             19.5            190
10 Adelie    Torgersen 39.0             17.1            191
11 Adelie    Biscoe    41.6             18.0            192
12 Gentoo    Biscoe    47.6             14.5            215
   body_mass_g sex    body_weight_pounds
1  3875        MALE    8.542913
2  3400        FEMALE  7.495717
3  5550        MALE   12.235656
4  4300        MALE    9.479877
5  3400        FEMALE  7.495717
6  5500        MALE   12.125424
7  3200        FEMALE  7.054792
8  4650        FEMALE 10.251495
9  3800        MALE    8.377566
10 3050        FEMALE  6.724099
11 3950        MALE    8.708259
12 5400        MALE   11.904962

In [28]:
penguins_subset %>%
  mutate(body_weight_pounds = body_mass_g / 453.59237) %>%
  select(species, body_mass_g, body_weight_pounds, everything())

   species   body_mass_g body_weight_pounds island    culmen_length_mm
1  Adelie    3875         8.542913          Torgersen 41.4
2  Chinstrap 3400         7.495717          Dream     50.1
3  Gentoo    5550        12.235656          Biscoe    50.5
4  Chinstrap 4300         9.479877          Dream     49.0
5  Chinstrap 3400         7.495717          Dream     43.5
6  Gentoo    5500        12.125424          Biscoe    51.5
7  Adelie    3200         7.054792          Biscoe    40.5
8  Gentoo    4650        10.251495          Biscoe    43.5
9  Adelie    3800         8.377566          Dream     36.3
10 Adelie    3050         6.724099          Torgersen 39.0
11 Adelie    3950         8.708259          Biscoe    41.6
12 Gentoo    5400        11.904962          Biscoe    47.6
   culmen_depth_mm flipper_length_mm sex
1  18.5            202               MALE
2  17.9            190               FEMALE
3  15.9            222               MALE
4  19.6            212               MALE
5  18.1            202               FEMALE
6  16.3            230               MALE
7  17.9            187               FEMALE
8  15.2            213               FEMALE
9  19.5            190               MALE
10 17.1            191               FEMALE
11 18.0            192               MALE
12 14.5            215               MALE

In [29]:
penguins_subset %>%
  summarise(avg_body_mass = mean(body_mass_g))

  avg_body_mass
1 4172.917

In [30]:
penguins %>%
  summarise(avg_body_mass = mean(body_mass_g))

  avg_body_mass
1 NA

In [31]:
penguins %>%
  summarise(avg_body_mass = mean(body_mass_g, na.rm = TRUE))

  avg_body_mass
1 4201.754

In [32]:
penguins %>%
  group_by(species) %>%
  summarise(avg_species_body_mass = mean(body_mass_g, na.rm = TRUE))

  species   avg_species_body_mass
1 Adelie    3700.662
2 Chinstrap 3733.088
3 Gentoo    5076.016

In [33]:
penguins %>%
  group_by(species, island) %>%
  summarise(avg_species_body_mass = mean(body_mass_g, na.rm = TRUE))

`summarise()` has grouped output by 'species'. You can override using the
`.groups` argument.

  species   island    avg_species_body_mass
1 Adelie    Biscoe    3709.659
2 Adelie    Dream     3688.393
3 Adelie    Torgersen 3706.373
4 Chinstrap Dream     3733.088
5 Gentoo    Biscoe    5076.016