In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
library(gapminder)

In [4]:
class(gapminder)

[1] "tbl_df"     "tbl"        "data.frame"

In [5]:
as_tibble(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [6]:
(canada <- gapminder[241:252, ])

   country continent year lifeExp pop      gdpPercap
1  Canada  Americas  1952 68.750  14785584 11367.16
2  Canada  Americas  1957 69.960  17010154 12489.95
3  Canada  Americas  1962 71.300  18985849 13462.49
4  Canada  Americas  1967 72.130  20819767 16076.59
5  Canada  Americas  1972 72.880  22284500 18970.57
6  Canada  Americas  1977 74.210  23796400 22090.88
7  Canada  Americas  1982 75.760  25201900 22898.79
8  Canada  Americas  1987 76.860  26549700 26626.52
9  Canada  Americas  1992 77.950  28523502 26342.88
10 Canada  Americas  1997 78.610  30305843 28954.93
11 Canada  Americas  2002 79.770  31902268 33328.97
12 Canada  Americas  2007 80.653  33390141 36319.24

In [7]:
filter(gapminder, lifeExp < 29)

  country     continent year lifeExp pop     gdpPercap
1 Afghanistan Asia      1952 28.801  8425333 779.4453
2 Rwanda      Africa    1992 23.599  7290203 737.0686

In [8]:
filter(gapminder, country == "Rwanda", year > 1979)

  country continent year lifeExp pop     gdpPercap
1 Rwanda  Africa    1982 46.218  5507565 881.5706
2 Rwanda  Africa    1987 44.020  6349365 847.9912
3 Rwanda  Africa    1992 23.599  7290203 737.0686
4 Rwanda  Africa    1997 36.087  7212583 589.9445
5 Rwanda  Africa    2002 43.413  7852401 785.6538
6 Rwanda  Africa    2007 46.242  8860588 863.0885

In [9]:
filter(gapminder, country %in% c("Rwanda", "Afghanistan"))

   country     continent year lifeExp pop      gdpPercap
1  Afghanistan Asia      1952 28.801   8425333 779.4453
2  Afghanistan Asia      1957 30.332   9240934 820.8530
3  Afghanistan Asia      1962 31.997  10267083 853.1007
4  Afghanistan Asia      1967 34.020  11537966 836.1971
5  Afghanistan Asia      1972 36.088  13079460 739.9811
6  Afghanistan Asia      1977 38.438  14880372 786.1134
7  Afghanistan Asia      1982 39.854  12881816 978.0114
8  Afghanistan Asia      1987 40.822  13867957 852.3959
9  Afghanistan Asia      1992 41.674  16317921 649.3414
10 Afghanistan Asia      1997 41.763  22227415 635.3414
11 Afghanistan Asia      2002 42.129  25268405 726.7341
12 Afghanistan Asia      2007 43.828  31889923 974.5803
13 Rwanda      Africa    1952 40.000   2534927 493.3239
14 Rwanda      Africa    1957 41.500   2822082 540.2894
15 Rwanda      Africa    1962 43.000   3051242 597.4731
16 Rwanda      Africa    1967 44.100   3451079 510.9637
17 Rwanda      Africa    1972 44.600   3992121 590.5807
18 Rwanda      Africa    1977 45.000   4657072 670.0806
19 Rwanda      Africa    1982 46.218   5507565 881.5706
20 Rwanda      Africa    1987 44.020   6349365 847.9912
21 Rwanda      Africa    1992 23.599   7290203 737.0686
22 Rwanda      Africa    1997 36.087   7212583 589.9445
23 Rwanda      Africa    2002 43.413   7852401 785.6538
24 Rwanda      Africa    2007 46.242   8860588 863.0885

In [11]:
gapminder[gapminder$lifeExp < 29, ] ## repeat `gapminder`, [i, j] indexing is distracting

  country     continent year lifeExp pop     gdpPercap
1 Afghanistan Asia      1952 28.801  8425333 779.4453
2 Rwanda      Africa    1992 23.599  7290203 737.0686

In [12]:
subset(gapminder, country == "Rwanda") ## almost same as filter; quite nice actually

   country continent year lifeExp pop     gdpPercap
1  Rwanda  Africa    1952 40.000  2534927 493.3239
2  Rwanda  Africa    1957 41.500  2822082 540.2894
3  Rwanda  Africa    1962 43.000  3051242 597.4731
4  Rwanda  Africa    1967 44.100  3451079 510.9637
5  Rwanda  Africa    1972 44.600  3992121 590.5807
6  Rwanda  Africa    1977 45.000  4657072 670.0806
7  Rwanda  Africa    1982 46.218  5507565 881.5706
8  Rwanda  Africa    1987 44.020  6349365 847.9912
9  Rwanda  Africa    1992 23.599  7290203 737.0686
10 Rwanda  Africa    1997 36.087  7212583 589.9445
11 Rwanda  Africa    2002 43.413  7852401 785.6538
12 Rwanda  Africa    2007 46.242  8860588 863.0885

In [13]:
(excerpt <- gapminder[241:252, ])

   country continent year lifeExp pop      gdpPercap
1  Canada  Americas  1952 68.750  14785584 11367.16
2  Canada  Americas  1957 69.960  17010154 12489.95
3  Canada  Americas  1962 71.300  18985849 13462.49
4  Canada  Americas  1967 72.130  20819767 16076.59
5  Canada  Americas  1972 72.880  22284500 18970.57
6  Canada  Americas  1977 74.210  23796400 22090.88
7  Canada  Americas  1982 75.760  25201900 22898.79
8  Canada  Americas  1987 76.860  26549700 26626.52
9  Canada  Americas  1992 77.950  28523502 26342.88
10 Canada  Americas  1997 78.610  30305843 28954.93
11 Canada  Americas  2002 79.770  31902268 33328.97
12 Canada  Americas  2007 80.653  33390141 36319.24

In [14]:
filter(gapminder, country == "Canada")

   country continent year lifeExp pop      gdpPercap
1  Canada  Americas  1952 68.750  14785584 11367.16
2  Canada  Americas  1957 69.960  17010154 12489.95
3  Canada  Americas  1962 71.300  18985849 13462.49
4  Canada  Americas  1967 72.130  20819767 16076.59
5  Canada  Americas  1972 72.880  22284500 18970.57
6  Canada  Americas  1977 74.210  23796400 22090.88
7  Canada  Americas  1982 75.760  25201900 22898.79
8  Canada  Americas  1987 76.860  26549700 26626.52
9  Canada  Americas  1992 77.950  28523502 26342.88
10 Canada  Americas  1997 78.610  30305843 28954.93
11 Canada  Americas  2002 79.770  31902268 33328.97
12 Canada  Americas  2007 80.653  33390141 36319.24

In [15]:
gapminder %>% head()

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134

In [16]:
gapminder %>% head(3)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007

In [17]:
select(gapminder, year, lifeExp)

     year lifeExp
1    1952 28.801
2    1957 30.332
3    1962 31.997
4    1967 34.020
5    1972 36.088
6    1977 38.438
7    1982 39.854
8    1987 40.822
9    1992 41.674
10   1997 41.763
11   2002 42.129
12   2007 43.828
13   1952 55.230
14   1957 59.280
15   1962 64.820
16   1967 66.220
17   1972 67.690
18   1977 68.930
19   1982 70.420
20   1987 72.000
21   1992 71.581
22   1997 72.950
23   2002 75.651
24   2007 76.423
25   1952 43.077
26   1957 45.685
27   1962 48.303
28   1967 51.407
29   1972 54.518
30   1977 58.014
⋮    ⋮    ⋮
1675 1982 49.113
1676 1987 52.922
1677 1992 55.599
1678 1997 58.020
1679 2002 60.308
1680 2007 62.698
1681 1952 42.038
1682 1957 44.077
1683 1962 46.023
1684 1967 47.768
1685 1972 50.107
1686 1977 51.386
1687 1982 51.821
1688 1987 50.821
1689 1992 46.100
1690 1997 40.238
1691 2002 39.193
1692 2007 42.384
1693 1952 48.451
1694 1957 50.469
1695 1962 52.358
1696 1967 53.995
1697 1972 55.635
1698 1977 57.674
1699 1982 60.363
1700 1987 62.351
1701 1992 60.377
1702 1997 46.809
1703 2002 39.989
1704 2007 43.487

In [18]:
gapminder %>%
  select(year, lifeExp) %>%
  head(4)

  year lifeExp
1 1952 28.801
2 1957 30.332
3 1962 31.997
4 1967 34.020

In [19]:
gapminder %>%
  filter(country == "Cambodia") %>%
  select(year, lifeExp)

   year lifeExp
1  1952 39.417
2  1957 41.366
3  1962 43.415
4  1967 45.415
5  1972 40.317
6  1977 31.220
7  1982 50.957
8  1987 53.914
9  1992 55.803
10 1997 56.534
11 2002 56.752
12 2007 59.723

In [20]:
gapminder[gapminder$country == "Cambodia", c("year", "lifeExp")]

   year lifeExp
1  1952 39.417
2  1957 41.366
3  1962 43.415
4  1967 45.415
5  1972 40.317
6  1977 31.220
7  1982 50.957
8  1987 53.914
9  1992 55.803
10 1997 56.534
11 2002 56.752
12 2007 59.723